export VERSION=1.7.1+custom

dotenv
use asdf

# Activate UV virtual environment
export VIRTUAL_ENV=.venv
PATH_add "$VIRTUAL_ENV/bin"

export PIP_IGNORE_INSTALLED=1

pre-commit install --hook-type pre-commit
pre-commit install --hook-type pre-push

export SPOTLIGHT_DEV=True
export SPOTLIGHT_VERBOSE=True
export SPOTLIGHT_OPT_OUT=True

# source local envrc for any additional local defines and overrides (e.g. a different BUILD_VARIANT)
[[ -f .envrc.local ]] && source_env .envrc.local
